In [ ]:
!pip install requests

In [ ]:
!pip install html5lib

In [ ]:
!pip install beautifulsoup4

In [ ]:
!pip install selenium

In [4]:
import requests
import time
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
years = list(range(1995, 2024))

In [15]:
import requests 
import time

for year in years:
    url = f"https://www.basketball-reference.com/awards/awards_{year}.html"
    data = requests.get(url)
    
    # w+ to overwrite existing files
    with open("mvp_data/{}.html".format(year), "w+") as fp:
        fp.write(data.text)
    print("extracted {}".format(year))
    time.sleep(10)

extracted 1995
extracted 1996
extracted 1997
extracted 1998
extracted 1999
extracted 2000
extracted 2001
extracted 2002
extracted 2003
extracted 2004
extracted 2005
extracted 2006
extracted 2007
extracted 2008
extracted 2009
extracted 2010
extracted 2011
extracted 2012
extracted 2013
extracted 2014
extracted 2015
extracted 2016
extracted 2017
extracted 2018
extracted 2019
extracted 2020
extracted 2021
extracted 2022
extracted 2023

In [ ]:
from bs4 import BeautifulSoup
import pandas as pd

# read single file
with open("mvp_data/1995.html") as fp:
    page = fp.read()

# intialize bs4
soup = BeautifulSoup(page, "html.parser")

# remove the over header row
soup.find('tr', class_='over_header').decompose()

# find mvp table
mvp_table = soup.find(id='mvp')

# read the file in pandas
mvp_1995 = pd.read_html(str(mvp_table))[0]

mvp_1995

In [4]:
# for all extracted data
dfs = []
for year in years:
    with open("mvp_data/{}.html".format(year)) as fp:
        page = fp.read()
    
    soup = BeautifulSoup(page, "html.parser")
    soup.find('tr', class_='over_header').decompose()
    mvp_table = soup.find(id='mvp')
    
    each_mvp = pd.read_html(str(mvp_table))[0]
    
    each_mvp['Year'] = year
    
    dfs.append(each_mvp)

In [5]:
dfs[0]

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,David Robinson,29,SAS,73.0,901.0,1050,0.858,81,38.0,...,10.8,2.9,1.7,3.2,0.530,0.300,0.774,17.5,0.273,1995
1,2,Shaquille O'Neal,22,ORL,12.0,605.0,1050,0.576,79,37.0,...,11.4,2.7,0.9,2.4,0.583,0.000,0.533,14.0,0.230,1995
2,3,Karl Malone,31,UTA,14.0,532.0,1050,0.507,82,38.1,...,10.6,3.5,1.6,1.0,0.536,0.268,0.742,13.8,0.212,1995
3,4,Patrick Ewing,32,NYK,2.0,230.0,1050,0.219,79,37.0,...,11.0,2.7,0.9,2.0,0.503,0.286,0.750,9.6,0.157,1995
4,5,Hakeem Olajuwon,32,HOU,1.0,147.0,1050,0.140,72,39.6,...,10.8,3.5,1.8,3.4,0.517,0.188,0.756,10.7,0.181,1995
5,6,Charles Barkley,31,PHO,1.0,96.0,1050,0.091,68,35.0,...,11.1,4.1,1.6,0.7,0.486,0.338,0.748,10.6,0.214,1995
6,7,Scottie Pippen,29,CHI,1.0,83.0,1050,0.079,79,38.2,...,8.1,5.2,2.9,1.1,0.480,0.345,0.716,11.8,0.188,1995
7,8,John Stockton,32,UTA,1.0,47.0,1050,0.045,82,35.0,...,3.1,12.3,2.4,0.3,0.542,0.449,0.804,13.9,0.233,1995
8,9,Gary Payton,26,SEA,0.0,34.0,1050,0.032,82,36.8,...,3.4,7.1,2.5,0.2,0.509,0.302,0.716,11.7,0.187,1995
9,10,Anfernee Hardaway,23,ORL,0.0,23.0,1050,0.022,77,37.7,...,4.4,7.2,1.7,0.3,0.512,0.349,0.769,10.7,0.177,1995
10,11,Michael Jordan,31,CHI,0.0,12.0,1050,0.011,17,39.3,...,6.9,5.3,1.8,0.8,0.411,0.500,0.801,2.3,0.167,1995
11,12,Dennis Rodman,33,SAS,0.0,9.0,1050,0.009,49,32.0,...,16.8,2.0,0.6,0.5,0.571,0.000,0.676,5.8,0.178,1995
12,13,Jason Kidd,21,DAL,0.0,7.0,1050,0.007,79,33.8,...,5.4,7.7,1.9,0.3,0.385,0.272,0.698,3.7,0.066,1995
13,14,Clyde Drexler,32,TOT,0.0,3.0,1050,0.003,76,35.9,...,6.3,4.8,1.8,0.6,0.461,0.360,0.824,11.7,0.206,1995
14,15,Cedric Ceballos,25,LAL,0.0,1.0,1050,0.001,58,35.0,...,8.0,1.8,1.0,0.3,0.509,0.397,0.716,5.2,0.123,1995

In [6]:
# combine the df
combined_mvps = pd.concat(dfs)

In [7]:
combined_mvps.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,David Robinson,29,SAS,73.0,901.0,1050,0.858,81,38.0,...,10.8,2.9,1.7,3.2,0.530,0.300,0.774,17.5,0.273,1995
1,2,Shaquille O'Neal,22,ORL,12.0,605.0,1050,0.576,79,37.0,...,11.4,2.7,0.9,2.4,0.583,0.000,0.533,14.0,0.230,1995
2,3,Karl Malone,31,UTA,14.0,532.0,1050,0.507,82,38.1,...,10.6,3.5,1.6,1.0,0.536,0.268,0.742,13.8,0.212,1995
3,4,Patrick Ewing,32,NYK,2.0,230.0,1050,0.219,79,37.0,...,11.0,2.7,0.9,2.0,0.503,0.286,0.750,9.6,0.157,1995
4,5,Hakeem Olajuwon,32,HOU,1.0,147.0,1050,0.140,72,39.6,...,10.8,3.5,1.8,3.4,0.517,0.188,0.756,10.7,0.181,1995

In [65]:
# store the data in csv format
combined_mvps.to_csv("combined_mvp.csv")

In [ ]:
# create a graph to which player has won the most mvps

In [83]:
# extract all player stats
from selenium import webdriver
from selenium.webdriver.chrome.service import Service

# driver = webdriver.Chrome(executable="/Users/Naveen/Downloads/Selenium/ThirdPartyDrtivers/chromedriver-mac-x64/chromedriver.exe")

# service = Service(executable_path="/Users/Naveen/Downloads/Selenium/ThirdPartyDrtivers/chromedriver-mac-x64/chromedriver.exe")
# options = webdriver.ChromeOptions()
# driver = webdriver.Chrome(service=service, options=options)

driver = webdriver.Chrome()

In [ ]:
from selenium import webdriver

years = list(range(1996, 2025))

driver = webdriver.Chrome()

for year in years:
    players_stats_url = f"https://www.basketball-reference.com/leagues/NBA_{year}_per_game.html"
    driver.get(players_stats_url)
    
    # to scroll down through the page to load all the tables to extract
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    
    extracted_player_stats = driver.page_source
    
    with open('all_players_data/{}.html'.format(year), 'w+') as fp:
        fp.write(extracted_player_stats)
    
    print(f"extracted player statistics of year-{year}...")
    time.sleep(5)

driver.close()

In [5]:
years = list(range(1995, 2025))

dfs = []

for year in years:
    with open('all_players_data/{}.html'.format(year)) as fp:
        all_players_page = fp.read()

    soup = BeautifulSoup(all_players_page, 'html.parser')

    soup.find('tr', class_='thead').decompose

    all_players_table = soup.find(id='per_game_stats')

    all_player_stats = pd.read_html(str(all_players_table))[0]

    all_player_stats['Year'] = year

    dfs.append(all_player_stats)

In [6]:
combined_all_player_stats = pd.concat(dfs)

In [7]:
combined_all_player_stats

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Alaa Abdelnaby,PF,26,TOT,54,0,9.4,2.2,4.3,...,0.7,1.4,2.1,0.2,0.3,0.2,0.8,1.9,4.7,1995
1,1,Alaa Abdelnaby,PF,26,SAC,51,0,9.3,2.3,4.3,...,0.7,1.4,2.1,0.3,0.3,0.2,0.8,2.0,5.0,1995
2,1,Alaa Abdelnaby,PF,26,PHI,3,0,10.0,0.3,3.7,...,1.0,1.7,2.7,0.0,0.0,0.0,1.7,0.7,0.7,1995
3,2,Mahmoud Abdul-Rauf,PG,25,DEN,73,43,28.5,6.5,13.8,...,0.4,1.4,1.9,3.6,1.1,0.1,1.6,1.7,16.0,1995
4,3,Michael Adams,PG,32,CHH,29,0,15.3,2.3,5.1,...,0.2,0.8,1.0,3.3,0.8,0.0,0.9,1.4,6.5,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602,531,Thaddeus Young,PF,35,TOR,22,6,15.3,2.4,3.8,...,1.2,1.9,3.0,2.2,0.8,0.1,0.5,1.6,5.0,2024
603,532,Trae Young,PG,25,ATL,45,45,36.6,8.5,19.6,...,0.5,2.3,2.8,10.9,1.5,0.2,4.3,2.1,27.3,2024
604,533,Omer Yurtseven,C,25,UTA,27,6,9.8,1.4,3.0,...,1.3,2.5,3.9,0.5,0.1,0.4,0.9,1.3,3.2,2024
605,534,Cody Zeller,C,31,NOP,35,0,8.2,0.6,1.5,...,1.1,1.6,2.7,1.0,0.2,0.1,0.3,1.1,1.8,2024
606,535,Ivica Zubac,C,26,LAC,39,39,26.9,5.2,8.0,...,3.2,6.4,9.6,1.2,0.2,1.3,1.1,2.9,12.2,2024

In [8]:
combined_all_player_stats.to_csv('combined_all_players.csv')

In [31]:
# extract team records each year - html
years = list(range(1996, 2025))

for year in years:
    team_stats_url = f'https://www.basketball-reference.com/leagues/NBA_{year}_standings.html'

    data = requests.get(team_stats_url)

    with open('team_data/{}.html'.format(year), 'w+') as fp:
        fp.write(data.text)
    
    print(f'Extracted team data for year {year}...')
    time.sleep(2)
    
# driver = webdriver.Chrome()

# for year in years:
#     team_url = f"https://www.basketball-reference.com/leagues/NBA_{year}_standings.html"
#     driver.get(team_url)
    
#     # to scroll down through the page to load all the tables to extract
#     driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    
#     team = driver.page_source
    
#     with open('team_dat_sel/{}.html'.format(year), 'w+') as fp:
#         fp.write(team)
    
#     print(f"extracted team statistics of year-{year}...")
#     time.sleep(5)

Extracted team data for year 1996...
Extracted team data for year 1997...
Extracted team data for year 1998...
Extracted team data for year 1999...
Extracted team data for year 2000...
Extracted team data for year 2001...
Extracted team data for year 2002...
Extracted team data for year 2003...
Extracted team data for year 2004...
Extracted team data for year 2005...
Extracted team data for year 2006...
Extracted team data for year 2007...
Extracted team data for year 2008...
Extracted team data for year 2009...
Extracted team data for year 2010...
Extracted team data for year 2011...
Extracted team data for year 2012...
Extracted team data for year 2013...
Extracted team data for year 2014...
Extracted team data for year 2015...
Extracted team data for year 2016...
Extracted team data for year 2017...
Extracted team data for year 2018...
Extracted team data for year 2019...
Extracted team data for year 2020...
Extracted team data for year 2021...
Extracted team data for year 2022...
Extracted team data for year 2023...
Extracted team data for year 2024...

In [9]:
team_stats_url = f'https://www.basketball-reference.com/leagues/NBA_1995_standings.html'

data = requests.get(team_stats_url)

with open('team_data/1995.html', 'w+') as fp:
    fp.write(data.text)

print(f'Extracted team data for year 1995...')

Extracted team data for year 1995...

In [10]:
# extract the wester and easter conference standing into a dataframe
years = list(range(1995, 2025))
dfs = []
for year in years:
    with open('team_data/{}.html'.format(year)) as fp:
        page = fp.read()

    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_='thead').decompose
    east_team_table = soup.find(id='divs_standings_E')
    team = pd.read_html(str(east_team_table))[0]
    team['Year'] = year
    team['Team'] = team['Eastern Conference']
    del team['Eastern Conference']
    dfs.append(team)


    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_='thead').decompose
    west_team_table = soup.find(id='divs_standings_W')
    team = pd.read_html(str(west_team_table))[0]
    team['Year'] = year
    team['Team'] = team['Western Conference']
    del team['Western Conference']
    dfs.append(team)

In [11]:
combined_teams = pd.concat(dfs)

In [12]:
combined_teams

,W,L,W/L%,GB,PS/G,PA/G,SRS,Year,Team
0,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,1995,Atlantic Division
1,57,25,.695,—,110.9,103.8,6.44,1995,Orlando Magic*
2,55,27,.671,2.0,98.2,95.1,2.78,1995,New York Knicks*
3,35,47,.427,22.0,102.8,104.7,-1.92,1995,Boston Celtics*
4,32,50,.390,25.0,101.1,102.8,-1.85,1995,Miami Heat
...,...,...,...,...,...,...,...,...,...
13,29,21,.580,—,116.9,112.6,4.40,2024,New Orleans Pelicans (7)
14,28,23,.549,1.5,118.2,118.3,0.22,2024,Dallas Mavericks (8)
15,23,27,.460,6.0,113.7,112.7,1.30,2024,Houston Rockets (12)
16,18,33,.353,11.5,107.0,113.3,-5.23,2024,Memphis Grizzlies (13)
17,10,40,.200,19.0,112.3,120.9,-8.10,2024,San Antonio Spurs (15)

In [13]:
combined_teams.to_csv('combined_teams.csv')

In [58]:
# extract award shares
driver = webdriver.Chrome()

award_shares_url = f"https://www.basketball-reference.com/leaders/nba_mvp_shares.html"
driver.get(award_shares_url)

# to scroll down through the page to load all the tables to extract
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
award_shares = driver.page_source

with open('award_shares/award_shares.html', 'w+') as fp:
    fp.write(award_shares)
    
print(f"extracted award shares")

extracted award shares

In [70]:
dfs = []
with open('award_shares/award_shares.html') as fp:
    award_shares_page = fp.read()

soup = BeautifulSoup(award_shares_page, 'html.parser')
award_shares_table = soup.find(id='tot')
award_shares = pd.read_html(str(award_shares_table))[0]
dfs.append(award_shares)

In [71]:
dfs

[      Rank                Player  MVP Shares
 0      1.0          LeBron James       8.815
 1      2.0       Michael Jordan*       8.115
 2      3.0  Kareem Abdul-Jabbar*       6.105
 3      4.0           Larry Bird*       5.612
 4      5.0        Magic Johnson*       5.104
 ..     ...                   ...         ...
 245  246.0          Andrew Toney       0.006
 246  247.0            Hal Greer*       0.006
 247  248.0         Carlos Boozer       0.006
 248  249.0           Brandon Roy       0.006
 249  250.0        Cazzie Russell       0.006

 [250 rows x 3 columns]]

In [83]:
award_shares = pd.concat(dfs)

In [84]:
award_shares

      Rank                Player  MVP Shares
0      1.0          LeBron James       8.815
1      2.0       Michael Jordan*       8.115
2      3.0  Kareem Abdul-Jabbar*       6.105
3      4.0           Larry Bird*       5.612
4      5.0        Magic Johnson*       5.104
..     ...                   ...         ...
245  246.0          Andrew Toney       0.006
246  247.0            Hal Greer*       0.006
247  248.0         Carlos Boozer       0.006
248  249.0           Brandon Roy       0.006
249  250.0        Cazzie Russell       0.006

[250 rows x 3 columns]

In [81]:
award_shares.to_csv('award_shares.csv')